[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target

[Service]
ExecStart={{ bin_dir }}//kube-apiserver   \
--bind-address=0.0.0.0  \
--authorization-mode=Node,RBAC   \
--runtime-config=rbac.authorization.k8s.io/v1   \
--kubelet-https=true   \
--anonymous-auth=false   \
--enable-bootstrap-token-auth   \
--token-auth-file={{ ca_dir }}/bootstrap-token.csv   \
--service-cluster-ip-range={{ service_cluster_ip }}   \
--tls-cert-file={{ ca_dir }}/kubernetes.pem   \
--tls-private-key-file={{ ca_dir }}/kubernetes-key.pem   \
--client-ca-file={{ ca_dir }}/ca.pem   \
--service-account-key-file={{ ca_dir }}/ca-key.pem   \
--etcd-cafile={{ ca_dir }}/ca.pem   \
--etcd-certfile={{ ca_dir }}/etcd.pem   \
--etcd-keyfile={{ ca_dir }}/etcd-key.pem   \
--etcd-servers={{ ETCD_ENDPOINTS }}  \
--allow-privileged=true   \
--audit-log-maxage=30   \
--audit-log-maxbackup=3   \
--audit-log-maxsize=100   \
--audit-log-path=/var/log/kubernetes/api-audit.log   \
--event-ttl=1h   \
--v=0   \
--logtostderr=false   \
--log-dir=/var/log/kubernetes/   \
--proxy-client-cert-file={{ ca_dir }}/kube-proxy.pem \
--proxy-client-key-file={{ ca_dir }}/kube-proxy-key.pem \
--requestheader-client-ca-file={{ ca_dir }}/ca.pem \
--requestheader-allowed-names=front-proxy-client \
--requestheader-group-headers=X-Remote-Group \
--requestheader-extra-headers-prefix=X-Remote-Extra- \
--requestheader-username-headers=X-Remote-User \
--service-node-port-range={{ service_node_port_range }}
Restart=on-failure
RestartSec=5
Type=notify
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target